In [17]:
import numpy as np
import pandas as pd

# helpful modules
import fuzzywuzzy
from fuzzywuzzy import process
import chardet

# set seed for reproducibility
np.random.seed(0)

In [7]:
professors = pd.read_csv(r"C:/Users/Prabhjyot Kaur/Downloads/Kaggle/pakistan_intellectual_capital.csv")

In [8]:
professors.head()

,Unnamed: 0,S#,Teacher Name,University Currently Teaching,Department,Province University Located,Designation,Terminal Degree,Graduated from,Country,Year,Area of Specialization/Research Interests,Other Information
0,2,3,Dr. Abdul Basit,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,Software Engineering & DBMS,NaN
1,4,5,Dr. Waheed Noor,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,DBMS,NaN
2,5,6,Dr. Junaid Baber,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"Information processing, Multimedia mining",NaN
3,6,7,Dr. Maheen Bakhtyar,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"NLP, Information Retrieval, Question Answering...",NaN
4,24,25,Samina Azim,Sardar Bahadur Khan Women's University,Computer Science,Balochistan,Lecturer,BS,Balochistan University of Information Technolo...,Pakistan,2005.0,VLSI Electronics DLD Database,NaN

In [13]:
professors.drop(['Unnamed: 0'],axis =1, inplace =True)

In [15]:
professors.head(2)

,S#,Teacher Name,University Currently Teaching,Department,Province University Located,Designation,Terminal Degree,Graduated from,Country,Year,Area of Specialization/Research Interests,Other Information
0,3,Dr. Abdul Basit,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,Software Engineering & DBMS,NaN
1,5,Dr. Waheed Noor,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,DBMS,NaN

In [ ]:
#Preliminary text pre-processing

In [18]:
#getting unique values
countries = professors["Country"].unique()

In [19]:
# sort them alphabetically and then take a closer look
countries.sort()
countries

array([' Germany', ' New Zealand', ' Sweden', ' USA', 'Australia',
       'Austria', 'Canada', 'China', 'Finland', 'France', 'Greece',
       'HongKong', 'Ireland', 'Italy', 'Japan', 'Macau', 'Malaysia',
       'Mauritius', 'Netherland', 'New Zealand', 'Norway', 'Pakistan',
       'Portugal', 'Russian Federation', 'Saudi Arabia', 'Scotland',
       'Singapore', 'South Korea', 'SouthKorea', 'Spain', 'Sweden',
       'Thailand', 'Turkey', 'UK', 'USA', 'USofA', 'Urbana', 'germany'],
      dtype=object)

In [20]:
#coverting to lower case
professors["Country"] = professors["Country"].str.lower()

In [21]:
#removing white spaces
professors["Country "] =professors["Country"].str.strip()

In [25]:
#Using fuzzy matching to correct inconsistent data entry

In [26]:
#all unique values in the 'Country' column
countries = professors['Country'].unique()

# sorting them alphabetically
countries.sort()
countries

array([' germany', ' new zealand', ' sweden', ' usa', 'australia',
       'austria', 'canada', 'china', 'finland', 'france', 'germany',
       'greece', 'hongkong', 'ireland', 'italy', 'japan', 'macau',
       'malaysia', 'mauritius', 'netherland', 'new zealand', 'norway',
       'pakistan', 'portugal', 'russian federation', 'saudi arabia',
       'scotland', 'singapore', 'south korea', 'southkorea', 'spain',
       'sweden', 'thailand', 'turkey', 'uk', 'urbana', 'usa', 'usofa'],
      dtype=object)

In [27]:
#we can see another inconsistency like 'south korea' and 'southkorea'
#top 10 closest matches to "south korea"
matches = fuzzywuzzy.process.extract("south korea", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
matches

[('south korea', 100),
 ('southkorea', 48),
 ('saudi arabia', 43),
 ('norway', 35),
 ('ireland', 33),
 ('portugal', 32),
 ('singapore', 30),
 ('netherland', 29),
 ('macau', 25),
 ('usofa', 25)]

In [28]:
# function to replace rows in the column

def replace_matches(df, column, string_to_match, min_ratio =47):
    # list of unique values
    strings = df.columns.unique()
    
    # top 10 closest match to the input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, limit=10, scorer = fuzzywuzzy.fuzz.token_sort_ratio)
    
    # only get matches with a ratio >90
    close_matches = [matches[0] for matches in matches if matches[1] >=min_ratio]
    
    # get the rows of all the close matches
    rows_with_matches = df[column].isin(close_matches)
    
    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match

In [29]:
replace_matches(df=professors, column='Country', string_to_match="south korea")

In [30]:
# getting all the unique values in the 'Country'
countries = professors['Country'].unique()

# sorting them alphabetically 
countries.sort()
countries

array([' germany', ' new zealand', ' sweden', ' usa', 'australia',
       'austria', 'canada', 'china', 'finland', 'france', 'germany',
       'greece', 'hongkong', 'ireland', 'italy', 'japan', 'macau',
       'malaysia', 'mauritius', 'netherland', 'new zealand', 'norway',
       'pakistan', 'portugal', 'russian federation', 'saudi arabia',
       'scotland', 'singapore', 'south korea', 'southkorea', 'spain',
       'sweden', 'thailand', 'turkey', 'uk', 'urbana', 'usa', 'usofa'],
      dtype=object)